.pageTitle {
  font-weight: normal;
  border-bottom: 2px solid;
}

.search {
  display: flex;
  justify-content: space-between;
}

.search .target {
  display: inline-block;
}

.search .target label {
  margin-right: 15px;
}

.search .sort {
  display: inline-block;
}
