body {
  background: #000;
  color: #fff;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.pageTitle {
  font-weight: normal;
  border-bottom: 2px solid;
}

.search {
  display: flex;
  justify-content: space-between;
}

.search .target {
  display: inline-block;
}

.search .target label {
  margin-right: 15px;
}

.search .sort {
  display: inline-block;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list::after{
  content: "";
  display: block;
  width: 250px;
}

.item {
  flex: 0 1 250px;
  margin-bottom: 30px;
}

.item .image {
  position: relative;
  text-align: center;
}

.item .image img {
  width: 100%;
  height: auto;
}

.item .status {
  position: absolute;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #bf0000;
  color: #fff;
}

.item .detail {
  text-align: center;
}

.item .price {
  display: inline-block;
}

.item .price span {
  font-size: 180%;
}

.item .shipping-fee {
  display: inline-block;
  background: #f7cd12;
  color: #000;
}

.item .shipping-fee.none {
  background: #bf0000;
  color: #fff;
}
